@font-face{
    font-family: 'Norse-Bold';
    src: url(./assets/Norse-Bold.otf);
}

body {
    margin: 0;
    font-family: 'Norse-Bold', 'sans-serif';
}

#container {
    display: flex;
}

#logo-section {
    position: relative;
    display: flex;
    font-family: 'Norse-Bold', 'sans-serif';
    background-image: url(./assets/forest.jpg);
    color: white;
    height: 100vh;
    width: 512px;
    flex-shrink: 0;
}

img {
    width: 100px;
}

#logo-strip {
    box-sizing: border-box;
    position: absolute;
    padding: 0px;
    display: flex;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 5px 0px 5px 0px;
    top: 150px;

}

#logo-strip h1 {
    margin: 0;
}

#form-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#title-section {
    position: relative;
    height: 293.68px;
    width: 100%;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
}

#text {
    position: absolute;
    font-size: 21px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    left: 30px
}

#input {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 20px 30px;
    gap: 15px;
    border: none;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2);
}

#input-buttons {
    display: flex;
    gap: 60px;
    

}
#col1,#col2 {
    display: flex;
    flex-direction:column;
}

#heading {
    font-size: 20px;
    font-weight: 550;
}

input {
    margin-bottom: 30px;
    width: 250px;
    padding: 5px;
    border-radius: 4px;
    border-color: #E5E7EB;
    border-width: 1px;
    
}

#confirmPassword:invalid,#password:invalid {
    border-color: red;
}

label{
    font-size: 10px;
    color: rgb(0, 0, 0, 0.8);
}

input:focus {
    box-shadow: 0px 2px 4px black;
}

button {
    padding: 10px 10px;
    width: 170px;
    background-color: #596D48;
    color: white;
    font-size: 15px;
    border-radius: 7px;
}

#submit-section {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
    left: 50px;
    
}
span {
    color: #596D48;
}

footer {
    display: flex;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255,255,255,0.5);
    font-size: 12px;
    bottom: 10px;
    justify-content: center;
    width: 100%;
   

}
a {
    color: inherit;
    margin: 0px 2px;
}
